<form class="create-form" role="form" ng-submit="createBookmarkCtrl.createBookmark(createBookmarkCtrl.newBookmark)" novalidate>
    <div class="form-group">
        <label for="newBookmarkTitle">Bookmark Title</label>
        <input type="text" class="form-control" id="newBookmarkTitle" ng-model="createBookmarkCtrl.newBookmark.title" placeholder="Enter Title">
    </div>
    <div class="form-group">
        <label for="newBookmarkURL">Bookmark URL</label>
        <input type="text" class="form-control" id="newBookmarkURL" ng-model="createBookmarkCtrl.newBookmark.url" placeholder="Enter URL">
    </div>
    <button class="btn btn-info btn-lg">Save</button>
    <button class="btn btn-default btn-lg pull-right" ng-click="createBookmarkCtrl.cancelCreating()">Cancel</button>
</form>
