<h1>{{bookmarksListCtrl.currentCategoryName}}</h1>
<div ng-class="{'active':isSelectedBookmark(bookmark.id)}" ng-repeat="bookmark in bookmarksListCtrl.bookmarks | filter:{category:bookmarksListCtrl.currentCategoryName}">
  <button type="button" ng-click="deleteBookmark(bookmark)" class="close">&times;</button>
  <button type="button" ng-click="setEditedBookmark(bookmark);startEditing();" class="btn btn-link"><span class="glyphicon glyphicon-pencil"></span>
  </button>
  <a href="{{bookmark.url}}" target="_blank">{{bookmark.title}}</a>
</div>
<hr/>
<ui-view ng-if="shouldShowCreating()">
  <button type="button" class="btn btn-link" ng-click="startCreating();">
    <span class="glyphicon glyphicon-plus"></span>
    Create Bookmark
  </button>
</ui-view>
